[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "public"]
	path = public
	url = https://github.com/Moonlington/moonlington.github.io.git
	branch = main
