<aside class="portable-infobox pi">
    <h2 class="pi-item pi-title pi-secondary-background">
        {{ with .Get "name" }}{{ . }}{{ end }}{{ with .Get "type" }}
        <br>
        <small>
            ({{ . }})
        </small>{{ end }}
    </h2>
    <section class="pi-item pi-group">
        <h2 class="pi-item pi-header pi-secondary-background">Basic information</h2>
        {{ with .Get "title" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Title</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "aoc" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Areas of Concern</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "edicts" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Edicts</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "anathema" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Anathema</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "symbol" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Symbol</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "gender" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Gender</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "worshipers" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Worshipers</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "holyday" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Holyday</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}{{ with .Get "domains" }}<div class = "pi-item pi-data">
            <div class="pi-item pi-data-label">Domains</div>
            <div class="pi-item pi-data-value">{{ . }}</div>
        </div>{{ end }}
    </section>
</aside>
{{print "<!--start-summary-->" | safeHTML}}
