:root {
    /* dark.css */
    --font-color: #dcd5d4;
    --bg-color: #0c0c0c;

    --link-color: #d3090b;
    --link-state-color: #940608;
    --link-state-border-color: rgba(238, 54, 54, 0.5);

    --thead-bg-color: #020202;
    --table-border-color: lightgrey;

    --nav-bg-color: #6a0506;
    --nav-link-color: #d3090b;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #e05354;
    --hr-color: #be080a;

    --pagination-bg-color: #6a0506;
    --pagination-link-color: #dcd5d4;

    --post-info-color: #d72223;

    --switcher-color: #333;
    --switcher-bg-color: #fff;
}