{{ $light := resources.Get "css/light.css" }}
{{ $dark := resources.Get "css/dark.css" }}

{{ $light.Content }}

{{ if eq site.Params.style "dark-without-switcher" }}
{{ $dark.Content }}
{{ else if eq site.Params.style "auto-without-switcher" }}
@media (prefers-color-scheme: dark) {
    {{ $dark.Content }}
}
{{else }}
[data-theme="dark"] {
    {{ $dark.Content }}
}
{{ end }}

/* Basic */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background: var(--bg-color);
}

* {
	scrollbar-color: var(--font-color) transparent !important;
	scrollbar-width: thin !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}	

.container {
    max-width: 42em;
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */
h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
}

a.notfound {
    color: var(--link-notfound-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    /* border-bottom: 1px solid var(--link-state-border-color); */
}
a.notfound:hover,
a.notfound:focus,
a.notfound:active {
    color: var(--link-notfound-state-color);
    /* border-bottom: 1px solid var(--link-state-border-color); */
}

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, 
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}

/* Code */
pre {
    padding: 1em;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    color: var(--pre-color);
    background-color: var(--pre-bg-color);
    font-family: monospace;
    font-size: 0.90em;
    line-height: 154%;
}

/* Styles */

blockquote {
    border-left: 2px solid var(--bq-color);
    padding: 0.1em 1em;
    margin-left: 0.75em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: none;
    height: 1px;
}

/* Header */

.common-header {
    padding-bottom: 1.5em;
    border-bottom: thin solid var(--hr-color);
}

header a {
    color: var(--text-color);
}

header h1 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: normal;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.site-title {
    white-space: nowrap;
}

header nav:not(:empty){
    background: var(--nav-bg-color);
    margin-top: 1em;
    max-width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

header nav a {
    display: inline-block;
    margin: 0 2.5%;
}

/* Social icons */
.social-icons {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.social-icons li {
    display: inline;
}

.social-icons li:not(:first-of-type) {
    margin-left: 0.5em;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
    color: inherit;
    border-bottom: none;
    text-decoration: none;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}


/* Pages */
main h1 {
    border-bottom: thick solid var(--nav-bg-color);
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

main h2 {
    margin-top: 1em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */

.post-navigation {
    background: var(--nav-bg-color);
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
    padding: 0.5em 0;
}

.post-navigation a:first-of-type {
    margin-left: 0;
}

.post-navigation a {
    color: var(--nav-link-color);
    margin-left: 2em;
}

.post-navigation a:hover, 
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

.post-title.favorite::after {
    content: "☆";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.draft::after {
    content: "✎";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.favorite.draft::after {
    content: "☆ ✎";
    display: inline-block;
    margin-left: 0.2em;
}

article:not(:last-of-type) {
    border-bottom: thin solid var(--hr-color);
    padding-bottom: 2em;
}

article header {
    margin-top: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
}


article header h1 {
    border-bottom: none;
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    display: inline;
}

article header h1 a {
    color: var(--text-color);
    border: none;
    text-decoration: none;
}

.post-info {
    color: var(--post-info-color);
    font-size: 0.75em;
    margin-top: 1em;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-short-list .post-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.post-taxonomies {
    display: inline;
}

.post-hidden-url {
    display: none;
}

.post-hidden-author {
    display: none;
}

.post-date {
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 1em;
}

.post-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    margin-right: 1em;
}

article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

article figcaption {
    color: grey;
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 2em;
}

.read-more {
    margin: 1em 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
}

.post-summary > p {
    display: block;
}

.post-translations {
    margin-left: 0.5em;
    list-style: none;
    padding: 0;
    display: inline;
    font-size: 14px;
}

.post-translations > li {
    display: inline;
}

.post-translations > li:not(:last-child)::after {
    content: "|";
    display: inline-block;
}

.post-translations > li a {
    color: var(--link-color);
}

.post-translations > li a:hover, 
.post-translations > li a:focus {
    color: var(--link-state-color);
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    text-align: center;   
    margin-bottom: 1em;
}

.pagination-item {
    background: var(--pagination-bg-color);
    padding: 0.5em 0.75em;
}

.pagination-item a {
    color: var(--pagination-link-color);
}

.pagination-item a:hover, 
.pagination-item a:focus {
    color: var(--link-state-color);
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

.common-footer {
    border-top: thin solid var(--hr-color);
    padding-top: 1.5em;
    margin-top: 3em;
    font-size: 16px;
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.language-select, ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select > li, ul.footer-menu > li {
    margin-right: 1em;
}

.theme-switcher {
    color: var(--switcher-color);
    background: var(--switcher-bg-color);
    padding: 0.5em 1em;
    font-size: 16px;
    border: none;
    margin-bottom: 1em;
}

.h-card {
    display: none;
}

/* Media Queries */

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    .post-navigation {
        background: var(--pagination-bg-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .post-navigation a {
        margin-left: 0.5em;
    }

    .post-pagination .pagination-item {
        max-width: 10em;
    }
}

.spoiler {
    background-color: var(--text-color);
    transition: 500ms ease-in-out;
}

.spoiler:hover {
    background-color: var(--bg-color);
    transition: 500ms ease-in-out;
}

table.wikibanner {
    margin: 1em 0em 1em;
    /* border: 1px solid var(--table-border-color); */
    background: var(--thead-bg-color) none repeat scroll 0% 0%;
    width: 100%;
}

th.wikibanner, td.wikibanner {
    padding: 0.2em 0.5em;
    border: thin solid var(--table-border-color);
}

:root {
	--max-content: 42em; /* must be in rem or other universal unit */

	--line-height: 1.4; /* must be unitless! */
	--baseline: calc(1rem * var(--line-height)); /* must be in rem units */
	--gutter: 0rem; /* convert to plain gutter? */
	/*--gutter: 0rem;*/
	--icon-size: 2em;

	/* text scales */
	/* references: 
		https://blog.envylabs.com/responsive-typographic-scales-in-css-b9f60431d1c4
		https://24ways.org/2019/a-modern-typographic-scale/#comments
		https://www.gridlover.net/try
		https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align
	*/
	--smod: 1; /* x-height adjustment for font size */
	--lmod: 1; /* x-height adjustment for line-height */
	--sratio: calc(5/6);
	--s00: 1em; /* always 1em = 1rem */
	--s-3: calc(var(--s-2) * var(--sratio));
	--s-2: calc(var(--s-1) * var(--sratio));
	--s-1: calc(var(--s00) * var(--sratio));
	--s01: calc(var(--s00) / var(--sratio));
	--s02: calc(var(--s01) / var(--sratio));
	--s03: calc(var(--s02) / var(--sratio));
	--s04: calc(var(--s03) / var(--sratio));

    --page-color: 12,12,12;
    --accent-color: 106, 5, 6;
    --text-color: 220, 213, 212;

	--page-transparency: 0.95;
	--page-blur: 2px;

	/* auto-calculated colors */
	--shadow-color: rgba(var(--text-color),0.2);
}


/*--------------------------------------------------------------
askolonion.js search form
--------------------------------------------------------------*/

#search__form {
	display: block;
	position: relative;
    top: 0.75em;
    left: 0;
	margin: 0 auto;
	padding: 0;
	width: 2em;
    max-width: var(--max-content);
	max-height: 50vh;
	z-index: 1000;
}

#search__form:not([data-focus='false']):focus-within,
#search__form[data-focus='true'] {
	left: 0;
    right: 0;
    top:5em;
    position: absolute;
	margin-top: calc(-1 * var(--gutter));
	padding: var(--gutter);
	min-height: 100vh;
	width: 90%;
	height: 200%;

	backdrop-filter: blur(var(--page-blur));
}

#search__form:not([data-focus='false']):focus-within::before,
#search__form[data-focus='true']::before {
	content:  ' ';
	display: inline-block;
	position: fixed;
	top: -20%;
	right: -20%;
	bottom: -80%;
	left: -20%;
	width: 140%;
	height: 200%;
	z-index: -1;

	background: rgba(var(--page-color), var(--page-transparency));
	backdrop-filter: blur(var(--page-blur));
	transition: background 1s;
}

#search__form .search__bar {
	display: flex;
	height: var(--icon-size, 1.4rem);
	align-items: flex-end;

	color: rgb(var(--text-color, 3,3,3));
}

#search__form[data-focus='true'] .search__bar {
	border-color: rgb(var(--text-color, 0,0,255));
}

#search__form[data-focus='true'] .search__bar:not(:focus-within) {
	border: none;
}

#search__input {
	--eborder: 1px;
	padding: 0;
	margin: 0 auto;
	max-width: var(--max-content);
	width: 100%;
	height: 100%;


	border: none;
	border-radius: 0;
	color: inherit;
	font-size: var(--s00, 1rem);
	opacity: 0;
	outline: none;
	text-align: left;

    background-color: #0000;
	background-image:			
	 linear-gradient(90deg, currentColor, currentColor),
	 linear-gradient(90deg, currentColor, currentColor),
	 linear-gradient(90deg, currentColor, currentColor);
	background-size: 100% var(--eborder), var(--eborder) 25%, var(--eborder) 25%;
	background-position: bottom, bottom left, bottom right;
	background-repeat: no-repeat, no-repeat, no-repeat;
}

#search__form:not([data-focus='false']):focus-within #search__input,
#search__form[data-focus='true'] #search__input {
	/* padding: calc(var(--baseline) / 4); */
    padding: 0 0.5em;
	opacity: 1;
}

#search__input:focus {
	--eborder: 2px;
	background-size: 100% var(--eborder), var(--eborder) 35%, var(--eborder) 35%;
	color:  var(--hr-color);
}

#search__button {
	--gadget-mark: '⌕';
	display: inline-flex;
    vertical-align: middle;
    right: 0em;
	position: absolute;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
    top: -.6em;
	width: 1em;
	height: 2em;

	text-align: center;
    font-size: var(--icon-size);

	border-radius: 50%;
	color: inherit;
}

#search__button > span {
	display: none;
}

#search__button::before {
	content: var(--gadget-mark);
	width: 100%;
	height: 100%;
	line-height: calc(var(--icon-size) * var(--lmod));
}

#search__form:not([data-focus='false']):focus-within #search__button,
#search__form[data-focus='true'] #search__button {
	--gadget-mark: '⨯';
}

#search__form:not([data-focus]):focus-within #search__button {
	pointer-events: none;
}

#search__button:hover,
#search__button:focus {
	color: var(--link-state-color);
	outline-offset: -2px;
}

#search__results {
	display: block;
	flex-grow: 2;
	margin: 0 auto 0 auto;
	padding: 0;
	max-height: 100%;
	max-width: var(--max-content);
	width: calc(100%-var(--icon-size));
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/

	color: rgb(var(--text-color, 3,3,3));
	font-size: var(--s00, 1rem);

	scrollbar-color: rgb(var(--text-color, 3,3,3)) rgb(var(--page-color, 240,240,240)) !important;
	scrollbar-width: thin !important;
}

#search__form[data-focus='false'] #search__results,
#search__results:empty {
	display: none;
	opacity: 0;
}

#search__results article {
    text-align: left;
	margin: var(--baseline) 0;
}

#search__results article:first-child {
    /*margin-top: 5px;*/
}

a.searchresult {
    color: var(--font-color)
}

a.searchresult:hover,a.searchresult:focus,a.searchresult:active {
    color: var(--link-state-color)
}