.sidebar-about img {
    border: none;
}

.sidebar-about h1 {
    font-size: 1.4em;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}

.spoiler {
    background-color: var(--text-color);
    transition: 250ms ease-in-out;
}
.spoiler:hover {
    background-color: transparent;
    transition: 250ms ease-in-out;
}

a.notfound {
    filter: brightness(60%)
}