{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}

{{ $wikiregexWithText := "\\[\\[([^\\]\\|\\r\\n]+?)(?:\\|([^\\]\\|\\r\\n]+?))?\\]\\]" }}

{{ $page := .Page }}

{{ $.Scratch.Set "content" .Content }}

{{ $wikilinks := .Content | findRE $wikiregexWithText }}
{{ range $wikilinks }}

	{{ $content := . | replaceRE $wikiregexWithText "$1" }}
	{{ $name := . | replaceRE $wikiregexWithText "$2"}}

	
	{{ $wikilink :=  printf "%s%s" $firstBracket $content }}
	{{ if eq $name ""}}
		{{  $name = $content  }}
	{{ else }}
		{{ $wikilink = delimit (slice $wikilink "\\|" $name) ""}}
	{{ end }}
	{{$wikilink = delimit (slice $wikilink $lastBracket) ""}}

	{{ $anchorized := $content | replaceRE "&rsquo;" ""}}
	{{ $anchorized := printf "/wiki/%s" $anchorized }}
	{{ $rel := relref $page $anchorized }}


	{{ $link := printf "%s%s%s%s%s" "<a href=\"" $rel "\">" $name "</a>"  }}

	{{ if in $rel "404" }}
		{{ $link = $link | replaceRE "<a" "<a class=\"notfound\"" }}
	{{ end }}
	
	{{ $noteContent := $.Scratch.Get "content" | replaceRE $wikilink $link }}
	{{ $.Scratch.Set "content" $noteContent }}
{{ end }}

{{ $content := .Scratch.Get "content" }}
{{ $content | markdownify }}